* {
    box-sizing: border-box;
}


.title-bar-left {
    font-weight: bold;
    font-size: 28px;
}

.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 100% 0%;
    background-image: url("../images/watchingtv.jpg");
}

.top-bar-center {
    padding-top: 34px;
}


.categories {
    padding-top: 50px;
}

.categories h2 {
    padding-left: 30px;
    padding-top: 50px;
    color: #a2bead;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ededed,
             2px 2px 1px #ededed;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #4c9a2a, 0 0 20px #4c9a2a, 0 0 30px #4c9a2a, 0 0 40px #4c9a2a, 0 0 50px #4c9a2a, 0 0 60px #4c9a2a, 0 0 70px #4c9a2a;
    }
    to {
      text-shadow: 0 0 20px #acdf87, 0 0 30px #acdf87, 0 0 40px #acdf87, 0 0 50px #acdf87, 0 0 60px #acdf87, 0 0 70px #acdf87, 0 0 80px #acdf87;
    }
  }

.button {
 margin: 0 10px 10px 10px;
}



